In [4]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [9]:
data1=pd.read_csv("Book1.csv")  
data1.head()

,Z numbers for the fuzzy rates,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,A (restriction component),NaN,B (reliability component),NaN
1,Linguistic Variable,TrFNs,Linguistic Variable,TrFNs
2,Very Poor (VP),"(0,0,1,2)",Vey Low (VL),"(0,0,0.1)"
3,Poor (P),"(1,2,2,3)",Low (L),"(0,0.1,0.3)"
4,Medium Poor (MP),"(2,3,4,5)",Medium Low (ML),"(0.1,0.3,0.5)"

In [10]:
data2=pd.read_csv("Book2.csv") 
data2.head()

,Unnamed: 0,S,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,O,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,D,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,DM1,NaN,DM2,NaN,DM3,NaN,DM1,NaN,DM2,NaN,DM3,NaN,DM1,NaN,DM2,NaN,DM3,NaN
1,NaN,A,R,A,R,A,R,A,R,A,R,A,R,A,R,A,R,A,R
2,H1,G,H,VP,L,G,H,G,MH,P,H,M,H,G,M,VG,H,G,H
3,H2,M,M,VP,L,MG,H,M,M,P,M,MP,H,M,M,G,H,G,H
4,H3,VG,H,G,M,G,H,G,H,G,M,P,H,G,H,VG,H,G,H

# Defuzzication of reliability part

In [ ]:
def Converting_into_7values(fuzzy_members):
    values=np.array(fuzzy_members)
    list=[]
    n=len(values)
    for i in range(n-1):
        a=(values[i]+values[i+1])/2
        list.append([values[i],a])
    list.append([values[n-1]])
     
    flat_list = []
    for sublist in list:
        for item in sublist:
            flat_list.append(item) 
     
         
    return flat_list

dcp=(0,0,1,2)     
print(Converting_into_7values(dcp))

In [ ]:
def defuzzy (reliability):
    array=np.array(reliability)
    mean=np.mean(array)
    return mean
print(defuzzy ((0,0.1,0,3)))

In [ ]:
#Corresponding membership function of 7_values
membership_values=np.array([0,0.5,1,1,1,0.5,0])
print(membership_values)

In [26]:
def solution_of_linear_equation(u,p,m):
    c=np.array[2,7]
    c[0]=u
    c[1]=np.ones([1,7])